:root{
  --green:#b6ff4d;
  --dark:#1f1f1f;
  --light:#f7fff0;
}

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:var(--light);
  color:var(--dark);
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:white;
  position:sticky;
  top:0;
  border-bottom:3px solid var(--green);
  box-shadow:0 3px 15px rgba(0,0,0,0.08);
}

.navbar a{
  position:relative;
  margin:0 12px;
  text-decoration:none;
  color:var(--dark);
  font-weight:500;
  padding:6px 0;
  transition:0.3s;
}

.navbar a:hover{
  color:var(--green);
}

.navbar a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-4px;
  height:2px;
  width:0;
  background:var(--green);
  transition:0.3s;
}

.navbar a:hover::after{
  width:100%;
}

.navbar a.active{
  color:var(--green);
}

.navbar a.active::after{
  width:100%;
}

/* HERO */
.hero{
  height:85vh;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1') center/cover;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
}

.hero h1{
  font-size:3rem;
}

.btn{
  display:inline-block;
  padding:12px 22px;
  margin:10px;
  border-radius:6px;
  text-decoration:none;
  font-weight:bold;
}

.green{
  background:var(--green);
  color:black;
}

/* SECTIONS */
.section{
  padding:70px 20px;
  text-align:center;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:20px;
  padding:30px;
}

.card{
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
  border-top:3px solid var(--green);
}

/* FOOTER */
.footer{
  background:#111;
  color:white;
  padding:40px 20px;
}

.footer-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:20px;
  max-width:1100px;
  margin:auto;
}

.footer-column h3{
  color:var(--green);
}

.footer-bottom{
  text-align:center;
  margin-top:20px;
  color:#aaa;
}